@font-face {
    font-family: 'AmazonThin';
    src: url('./fonts/Ember/AmazonEmber_Lt.ttf') format('ttf');
}
@font-face {
    font-family: 'AmazonRegular';
    src: url('./fonts/Ember/AmazonEmber_Rg.ttf') format('ttf');
}
@font-face {
    font-family: 'AmazonBold';
    src: url('./fonts/Ember/AmazonEmber_Bd.ttf') format('ttf');
}
.checkoutContainer {
    min-width: 1000px;
}
.checkout {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.ad {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    max-width: 1100px;
    padding: 1rem;
}
.redAdText {
    color:rgb(148, 0, 0);
    font-weight: 700;
}
.shoppingCart {
    width: 100%;
    padding:1rem;   
    background-color: white;
}
.shoppingCart > .headerTitle {
    margin-bottom: 2rem;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid rgba(224, 224, 224, 0.568);
}
.checkoutLeft .subtotal {
    display: flex;
    justify-content: flex-end;
}
.headerTitle > div {
    align-self: flex-end;
}
.shoppingCart h1, .proceedToCheckout h1{
    color: black;
    font-weight: 500;
}
.checkoutLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap:1rem;
}
.checkoutRight {
    padding: 1rem;
}
.proceedToCheckout {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    background-color: white;
    padding: 1rem;
}
.proceedToCheckout h1 {
    font-size: 1.15rem;
}
.checkoutButton {
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border:none;
    height: 2rem;
    border-radius: .5rem;
    width: 100%;
    background-color: #FFD814;
    border: 2px solid #FCD200;
    box-shadow: 0 2px 8px rgba(180, 180, 180, 0.568);
}
.checkoutButton:hover {
    cursor: pointer;
    background-color: #f3cc09;
}
.giftOption {
    display: flex;
    gap: .3rem;
}
.giftOption p {
    font-size: .85rem;
}